php_value display_errors 1

RewriteBase /
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php

<IfModule mod_headers.c>
  <FilesMatch ".(js|css|xml|png|jpg|jpeg|html|php)$">
    Header set Cache-Control "private"
  </FilesMatch>
</IfModule>
# HTID:22128330: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
RewriteEngine on
RewriteCond %{HTTP_REFERER} !^http(s)?://(www.)?(inbydev.000webhostapp.com)(/)?.*$      [NC]
RewriteRule .*.(.*)$ https://inbydev.000webhostapp.com [R,NC]
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:22128330:
