@font-face {
  font-family: "Regular";
src:
  url("/public/FONTS/Dosis-Regular.ttf") format("truetype");
font-style: normal;
font-weight: normal;
font-display: swap;
}

@font-face {
font-family: "Bold";
src:
  url("/public/FONTS/Dosis-Bold.ttf") format("truetype");
font-style: normal;
font-weight: normal;
font-display: swap;
}

h1 {
  font-size: clamp(100% - 0.125rem, 16vw, 12rem);
  padding: 1rem 0 2rem 0;
  display: flex;
}

h1 span {
  font-size: clamp(100% - 0.125rem, 16vw, 8rem);
  padding: 0 .25rem;
  color: var(--tertiary-text);
}

h2 {
  font-size: clamp(100% - 20px, 10vw, 50px);
}

h3 {
  font-size: clamp(100% - 20px, 6vw, 34px);
}

.header__mobile__container
    .header__mobile
    .header__mobile__items
    .header__mobile__link
    .header__mobile__logo {
        font-size: 2rem;
}

section {
  min-height: 50dvh;
}

span[id] {
  scroll-margin-top: 16dvh;
}

h2 span:nth-child(1) {
  background: linear-gradient(to right, #c08bfd, #fca6fd);
}

h3 a {
  color: var(--tertiary-text);
  cursor: pointer;
}

.guide {
  gap: 3em;
  max-width: 60em;
  margin: auto auto 2em auto;
}

.guide h3 {
  background: linear-gradient(to right, #c08bfd, #fca6fd);
}

.guide h3.two {
  background: linear-gradient(to right, #87cafa, #878cfa);
}

.guide h3.not {
  color: var(--primary-text);
}

.guide h3.not span {
  background: linear-gradient(to right, #c08bfd, #fca6fd);
}

.guide h3,
.guide h3.two,
.guide h3.not {
  max-width: 24ch;
}

.guide h3,
.guide h3.two,
.guide h3.not span,
h2 span:nth-child(1) {
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-table;
  text-align: center;
  text-wrap: balance;
}

.guide ul {
  display: grid;
  gap: 2em;
  padding-left: 2em;
}

.guide * span {
  color: var(--secondary-text)
}

.guide ul li {
  color: var(--primary-text);
  list-style-position: inside;
}

.guide ul li,
.guide p {
  font-size: var(--fs-tag);
  line-height: var(--fs-p);
  text-align: start;
  text-wrap: balance;
}

.guide__background__text span:nth-child(2) {
  color: var(--dark-hover);
}

.guide__background__text span:nth-child(3) {
  color: var(--dark-green);
}

.guide__background__text span:nth-child(4) {
  color: var(--dark-red);
}




body.hidden {
  overflow: hidden;
}

.open__dialog__button {
  padding: 1.2rem .8rem;
  border: none;
  border-radius: 6px;
  background: rgba(66, 23, 95, 0.6);
  color: var(--primary-text);
  font-family: var(--font);
  font-size: clamp(1.5rem, 6vw, 2rem);
  cursor: pointer;
  transition: var(--f-h-s);
}

.open__dialog__button:hover {
  background: var(--primary-text);
  color: rgba(66, 23, 95, 0.6);
}

dialog {
  position: fixed;
  inset: 0;
  background: var(--background);
  color: #FFF;
  border: none;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

form {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  height: 100%;
  padding: 0;
}


.header__create__note {
  width: 100%;
  height: 11dvh;
  background: var(--background-header);
  position: fixed;
  inset: 0;
  z-index: 1;
}

.header__create__note .note__navigation {
  display: flex;
  width: 100%;
  height: 40%;
  padding: .6rem;
  justify-content: space-between;
  align-items: center;
}

.close__and__send__container {
  display: flex;
  gap: .6rem;
}

.close__and__send__container label input {
  display: none;
}
.close__and__send__container .close__and__send__button {
  display: flex;
  border: none;
  height: 2rem;
  aspect-ratio: 1;
  background: rgba(66, 23, 95, 0.6);
  border-radius: 6px;
}

.preview__button {
  border: none;
  padding: 0 .4rem;
  height: 2rem;
  color: #FFFFFF;
  background: rgba(66, 23, 95, 0.6);
  border-radius: 6px;
  font-size: 1rem;
  font-family: "Concert One";
  transition: var(--f-h-s);
}

.preview__button:hover {
  background: #FFFFFF;
  color: rgba(66, 23, 95, 0.6);
}

.close__and__send__button,
.close__and__send__button svg path {
  transition: var(--f-h-s);
}

.close__and__send__button:hover {
  background: #FFFFFF;
}

.close__and__send__container label:hover svg path {
  stroke: rgba(66, 23, 95, 0.6);
}

.close__and__send__container button:hover svg path {
  fill: rgba(66, 23, 95, 0.6);
}



.header__create__note .markdown__navigation {
  width: 100%;
  height: 60%;
  padding: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.form__file {
  display: none;
}

.markdown__navigation .markdown__button {
  border: none;
  border-radius: 6px;
  background: rgba(66, 23, 95, 0.6);
  color: #FFFFFF;
  cursor: pointer;
  transition: var(--f-h-s);
  height: 2.4rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.markdown__navigation .markdown__button svg {
  min-width: 2.4rem;
}

.markdown__navigation .markdown__button svg,
.markdown__navigation .markdown__button svg path {
  transition: var(--f-h-s);
}

.markdown__navigation .markdown__button:hover {
  background: #FFFFFF;
}

.markdown__navigation .just__stroke:hover svg path {
  stroke: rgba(66, 23, 95, 0.6);
}

.markdown__navigation .just__fill:hover svg,
.markdown__navigation .just__fill:hover svg path {
  fill: rgba(66, 23, 95, 0.6);
}



.form__input {
  width: 100%;
  background: none;
  color: var(--primary-text);
  font-size: 1rem;
  padding: .6em .3em;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--primary-text);
  font-family: var(--font);
}



.form__section {
  min-height: 100dvh;
  padding: 12dvh 1rem 4dvh 1rem;
  margin: auto;
  display: flex;
  align-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 80rem;
  background: rgba(45, 5, 71, 0.1);
  flex-shrink: 0;
}

.form__section .form__section__title {
  font-size: clamp(2.2rem, 6vw, 5rem);
  line-height: clamp(3rem, 8vw, 6rem);
  text-align: center;
  margin: 0;
  font-family: "RubikDoodleShadow";
  padding: 20px 0;
}

.form__section label .form__section__author,
.form__section label span {
  font-size: clamp(1.6rem, 6vw, 2.6rem);
  line-height: clamp(2.6rem, 6vw, 3.2rem);
  text-align: start;
  font-style: italic;
  font-family: "Bold";
  max-width: 26rem;
  padding: 0;
  margin: 0;
}


.form__section label input {
  left: clamp(2.6rem, 8vw, 3.6rem);
  position: absolute;
  width: 100%;
}

.form__section label .size-span {
  position: relative;
  color: var(--primary-text);
  opacity: 0;
  min-width: 8rem;
}

.form__section label {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  margin: 0 0 20px 0;
}

.form__section textarea {
  font-size: clamp(1.2rem, 6vw, 1.8rem);
  margin-bottom: 60px;
  width: 70svw;
  text-align: start;
  max-width: 900px;
  font-family: "Regular";
}

.form__section__input {
  background: none;
  color: var(--primary-text);
  border: none;
  outline: none;
}

.form__textarea {
  min-height: 4.625rem;
  resize: none;
  background: none;
  color: var(--primary-text);
  border: none;
  outline: none;
  border-bottom: 1px solid var(--primary-text);
}

#vistaPreviaContainer {
  margin-bottom: 60px;
  width: 70svw;
  max-width: 900px;
  color: var(--primary-text);
  font-size: clamp(1.2rem, 6vw, 1.8rem);
  text-wrap: balance;
  text-align: start;
  font-family: "Regular";
  word-break: break-all;
}

#vistaPreviaContainer h2,
#vistaPreviaContainer h3,
#vistaPreviaContainer h4,
#vistaPreviaContainer i,
#vistaPreviaContainer b,
#vistaPreviaContainer strike,
#vistaPreviaContainer pre,
#vistaPreviaContainer p {
  position: static;
  padding: 20px 0;
  text-align: start;
}

#vistaPreviaContainer span,
#vistaPreviaContainer b,
#vistaPreviaContainer i,
#vistaPreviaContainer strike,
#vistaPreviaContainer h2,
#vistaPreviaContainer h3,
#vistaPreviaContainer h4,
#vistaPreviaContainer p {
  width: 100%;
  text-wrap: balance;
}

#vistaPreviaContainer span {
  font-size: clamp(1.2rem, 6vw, 1.8rem);
  text-wrap: balance;
  text-align: start;
  font-family: "Regular";
  color: var(--primary-text);
}

#vistaPreviaContainer b {
  font-family: "Bold";
}

#vistaPreviaContainer code span,
#vistaPreviaContainer pre {
    background: 0 0;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    font-size: 1rem;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

#vistaPreviaContainer pre {
    width: 70svw;
    max-width: 500px;
    padding: 1rem;
    margin: 2.5rem auto;
    overflow: auto;
    border-radius: 0.3rem;
    border: 2px solid rgba(241, 215, 253, .8);
}

#vistaPreviaContainer :not(pre) > code span,
#vistaPreviaContainer pre {
    background: rgba(0, 0, 0, .4);
}

#vistaPreviaContainer :not(pre) > code span {
    padding: 0.1em;
    border-radius: 0.3em;
    white-space: normal;
}

#vistaPreviaContainer h2 {
  font-size: clamp(1.8rem, 6vw, 3.4rem);
  line-height: clamp(2.4rem, 6vw, 4.2rem);
  margin: 0;
}

#vistaPreviaContainer h3 {
  font-size: clamp(1.6rem, 6vw, 3.2rem);
  line-height: clamp(2.2rem, 6vw, 4rem);
  margin: 0;
}

#vistaPreviaContainer h4 {
  font-size: clamp(1.4rem, 6vw, 3rem);
  line-height: clamp(2rem, 6vw, 3.8rem);
  margin: 0;
}


.notes__section {
min-height: 60dvh;
display: flex;
flex-direction: column;
align-content: center;
justify-content: flex-start;
}

.archivolist {
margin-top: 20px;
list-style-type: none;
display: flex;
flex-wrap: wrap;
gap: 4svw;
width: 100svw;
justify-content: center;
padding: 0 40px 0 40px;
}

.archivolist a {
display: flex;
justify-content: center;
flex-wrap: wrap;
transition: var(--h-s);
width: 300px;
aspect-ratio: 10/16;
background: #FFF;
border-radius: 20px;
cursor: zoom-in;
flex-direction: column;
align-content: center;
font-size: 40px;
overflow: hidden;
overflow-wrap: break-word;
text-decoration: none;
color: #000;
text-align: center;
}

.home {
  gap: 1em;
  padding: 4em 0;
}

.home img {
max-width: 670px;
}

.notas__container {
margin: 6rem 0;
padding: 2rem;
gap: 3rem;
display: flex;
justify-content: center;
flex-direction: column;
width: 100%;
max-width: 90rem;
background: rgba(0, 0, 0, 0.2);
border: 2px solid rgba(255, 255, 255, 0.6);
border-radius: 10px;
}

.notas__container nav {
width: 100%;
padding: 15px 10px;
margin-bottom: 2em;
border-radius: 6px;
color: rgb(241, 215, 253);
background: rgba(201, 85, 255, 0.1);
}

.notas__container nav input {
background: none;
color: rgba(241, 215, 253, 0.4);
font-size: 1rem;
padding: .6em .3em;
border: none;
outline: none;
border-bottom: 1px solid rgba(241, 215, 253, 0.4);
}

.notas__container .notas {
display: grid;
grid-template-columns: repeat(auto-fill, 9rem);
gap: 3rem;
justify-content: center;
width: 100%;
max-width: 80rem;
padding: 0 2rem;
}

.nota {
width: 9rem;
aspect-ratio: 1;
border: 3px solid var(--primary-text);
background: rgba(113, 151, 255, 0.1);
border-radius: 10px;
padding: 1rem 0;
display: flex;
flex-direction: column;
justify-content: start;
align-items: center;
transition: var(--f-h-s);
}

.nota:hover {
border: 3px solid rgba(113, 151, 255, 0.6);
background: rgba(113, 151, 255, 0.2);
}

.nota svg {
width: 2.8rem;
aspect-ratio: 1;
fill:#fb1e4c;
}

.nota h4 {
font-size: 1.2rem;
margin: 0;
padding: 0;
overflow: hidden;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
max-width: 100%;
text-align: center;
}

.notas__container .no-notas {
width: 90%;
height: 9rem;
background: rgba(255, 113, 113, 0.1);
border-radius: 10px;
padding: 1rem 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
transition: var(--f-h-s);
}

.notas__container .no-notas h4 {
font-size: 1.2rem;
color: var(--primary-text);
text-align: center;
margin-top: 1rem;
}


.context-menu {
opacity: 0;
transform: translateY(-10px);
display: none;
position: absolute;
padding: 0;
width: 12rem;
color: var(--primary-text);
border: 3px solid rgba(210, 113, 255, 0.8);
border-radius: 6px;
background: rgb(69, 45, 80);
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
animation: slideDown 0.2s ease-in-out;
}

.context-menu ul {
list-style: none;
width: 100%;
text-align: center;
padding: 0;
margin: 0;
}

.context-menu li {
cursor: pointer;
padding: 10px 5px;
transition: background-color 0.2s;
}

.context-menu li:hover {
background: rgb(97, 63, 112);
}

@keyframes slideDown {
from {
    opacity: 0;
    transform: translateY(-10px);
}
to {
    opacity: 1;
    transform: translateY(0);
}
}

@keyframes slideUp {
from {
    opacity: 1;
    transform: translateY(0);
}
to {
    opacity: 0;
    transform: translateY(-10px);
}
}


.h2list {
background: linear-gradient(315deg, var(--secondary-text), var(--hover));
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
background-clip: text;
}

@media (max-width: 1076px) {
  .form__group__data__container {
      flex-direction: column;
      gap: 4em;
  }

  .form__group__data__container .form__group__data:nth-child(2) .form__line,
  .form__group__data__container .form__group__data:nth-child(3) .form__line {
      bottom: 1px;
  }
  
  .text__edit {
      gap: 1em;
  }
}

@media (max-width: 800px) {
  #vistaPreviaContainer, #vistaPreviaContainer pre {
    width: 96dvw;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: clamp(100% - 0.125rem, 24vw, 12rem);
    flex-direction: column;
  }

  h2 {
    font-size: clamp(100% - 20px, 13vw, 50px);
  }

  h3 {
  font-size: clamp(100% - 20px, 10vw, 34px);
  }
}