@font-face {
        font-family: "Regular";
    src:
        url("/public/FONTS/Dosis-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bold";
    src:
        url("/public/FONTS/Dosis-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

.wordarchive {
  min-height: calc(100dvh - 2.2em);
  padding: 12dvh 1rem 4dvh 1rem;
  margin: auto;
  display: flex;
  align-content: start;
  flex-direction: column;
  width: 100%;
  max-width: 80rem;
  background: rgba(45, 5, 71, 0.1);
}

.wordarchive h1,h2,h3,h4,i,b,strike,pre {
    position: static;
    padding: 20px 0;
    text-align: start;
}

.header__logo {
    padding: 0;
}
.wordarchive pre {
    width: 70svw;
    max-width: 600px;
}

.wordarchive p {
    font-size: clamp(1.2rem, 6vw, 1.8rem);
    margin-bottom: 60px;
    width: 70svw;
    text-align: start;
    max-width: 900px;
    font-family: "Regular";
    text-wrap: balance;
}

.wordarchive p b {
    font-family: "Bold";
}

.wordarchive p br::before {
    content: "↵";
    display: block; 
    position: absolute;
    top: -1em;
    right: 0;
    font-size: 0.8em;
}

.wordarchive h1 {
  font-size: clamp(2.2rem, 6vw, 5rem);
  line-height: clamp(3rem, 8vw, 6rem);
  text-align: center;
  margin: 0;
}

.wordarchive h2 {
  font-size: clamp(1.8rem, 6vw, 3.4rem);
  line-height: clamp(2.4rem, 6vw, 4.2rem);
  margin: 0;
}

.wordarchive h3 {
    font-size: clamp(1.6rem, 6vw, 3.2rem);
    line-height: clamp(2.2rem, 6vw, 4rem);
    margin: 0;
}

  .wordarchive h4 {
    font-size: clamp(1.4rem, 6vw, 3rem);
    line-height: clamp(2rem, 6vw, 3.8rem);
    margin: 0;
}

.wordarchive .autor {
    font-size: clamp(1.6rem, 6vw, 2.6rem);
    line-height: clamp(2.6rem, 6vw, 3.2rem);
    font-style: italic;
    margin: 0 0 20px 0;
    font-family: "Bold";
}

.wordarchive img {
    width: 90svw;
    max-width: 600px;
}

@media (max-width: 800px) {
    .wordarchive {
        padding: 1rem 1rem 4dvh 1rem;
    }

    .wordarchive p,
    .wordarchive pre {
        width: 96dvw;
    }
}